
.firstCircle{
border-radius: 50%;
border: 2px black;
background: green;
width: 120px;
height: 120px;
}

.secondCircle{
border-radius: 50%;
background: green;
width: 120px;
height: 120px;
}

.thirdCircle{
border-radius: 50%;
background: green;
width: 120px;
height: 120px;
}

.fourthCircle{
border-radius: 50%;
border: 1px solid black;
background: none;
width: 120px;
height: 120px;
}

.fifthCircle{
border-radius: 50%;
background: green;
width: 120px;
height: 120px;
}

.sixthCircle{
border-radius: 50%;
background: green;
width: 120px;
height: 120px;
}
