
.firstCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.first_colour_circle{
  border-radius:60px;
 background: yellow;
 width: 18px;
 height: 18px;

}


.secondCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.second_colour_circle{
  border-radius:60px;
 background: purple;
 width: 18px;
 height: 18px;
}

.thirdCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.third_colour_circle{
  border-radius:60px;
 background: lightblue;
 width: 18px;
 height: 18px;
}

.fourthCircle{
border-radius: 50%;
border: 1px solid black;
background: none;
width: 120px;
height: 120px;
}

.fourth_colour_circle{
  border-radius:60px;
 background: orange;
 width: 18px;
 height: 18px;
}

.fifthCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.fifth_colour_circle{
  border-radius:60px;
 background: pink;
 width: 18px;
 height: 18px;
}

.sixthCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.sixth_colour_circle{
  border-radius:60px;
 background: aquamarine;
 width: 18px;
 height: 18px;
}
