
.firstCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.first_colour_circle{
 background-color: yellow;
 width: 128px;
 height: 128px;
}


.secondCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.second_colour_circle{

}

.thirdCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.third_colour_circle{

}

.fourthCircle{
border-radius: 50%;
border: 1px solid black;
background: none;
width: 120px;
height: 120px;
}

.fourth_colour_circle{

}

.fifthCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.fifth_colour_circle{

}

.sixthCircle{
  border-radius: 50%;
  border: 1px solid black;
  background: none;
  width: 120px;
  height: 120px;
}

.sixth_colour_circle{

}
